@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    font-family: "K2D", sans-serif;
}
body{
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    /* font-size: 20px; */
}
.level-btn{
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 15px;
    position: absolute; 
    /* postion absilute */
    bottom: 30px;
    left: 30px;
}
.setting{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    /* กำหนดตำแหน่งในแกนy */
    transform: translateY(0);
    transition: transition 0.3 ease-in-out;
}
/* ซ่อนและก็แสดง setting โดยการกำหนด class hide เพิ่มเข้ามาที่ setting ซึ่งจะทำให้ level เลื่อนหายไป*/
.setting.hide{
    transform: translateY(-100%);
}
select{
    width: 200px;
    padding: 5px;
    appearance: none;
    border-radius: 5px;
    font-size: 16px;
}
option{
    text-align: center;
    font-size: 16px;
}
.container{
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    padding:  20px;
    color: #fff;
    position: relative;
    text-align: center;
    width: 500px;
    
}
h2{
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    margin: 0 0 20px;
}
#word{
    margin: 0;
    color: yellow;
    padding: 20px;
}
input{
    border: 0;
    border-radius: 2px;
    font-size: 18px;
    width: 300px;
    padding: 12px 20px;
    margin-top: 10px;
    text-align: center;
}
.time-container{
    position: absolute;
    top:75px;
    left: 25px;
    color: greenyellow;
}
.score-container{
    position: absolute;
    top: 75px;
    right:25px;
}
.gameover-container{
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 1; 
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
}
