@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Noto Sans Thai", sans-serif;
}

body{
    background-image: url('https://images.unsplash.com/photo-1514876246314-d9a231ea21db?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
}
/* สร้าง overlay จางๆ */
body::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
body *{
    /* ทำให้ overlay ไปอยู่ด้านหลัง กับภาพ*/
    z-index: 1;
}
h1{
    font-size: 50px;
    margin: -80px 0 40px;
}

.countdown{
    display: flex;
    transform: scale(2);
}
.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}
.time h2{
    margin: 0 0 5px;
}

/* ทำให้รองรับ responsive */
/* ถ้าขนาดหน้าจอเล็กกว่า 500px */
@media (max-width:500px){
    h1{
        font-size: 30px;
    }
    .time{
        font-size: 10px;
        margin: 5px;
    }
}