*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(0deg,#185aad,#43cea2); 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0;
}
.music-container{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}
.img-container{
    position: relative;
    width: 100px;
}
.img-container img{
    /* inherit คือขนาดตาม container */
    width: inherit; 
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    /* ทำภาพหมุน */
    animation: rotate 5s linear infinite;
    animation-play-state: paused;
}

@keyframes rotate{
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.music-container.play .img-container img{
    animation-play-state: running;
}

/* แผงควบคุม */
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.action-btn{
    background: #fff;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    padding: 10px;
    margin: 0px 20px;
    cursor: pointer;
}
.action-btn:focus{
    outline: 0;
}
.action-btn:active{
    transform: scale(0.8);
}
.music-info{
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: red; */
    border-radius: 15px 15px 0 0 ;
    position: absolute;
    top:0;
    width: calc(100%-40px);
    left: 20px;
    /* กำหนดให้มองไม่เห็นด้วย opacity เริ่มต้น */
    opacity: 0;
    transform: translateY(0%);
    padding: 10px 10px 10px 150px;
    transition: transform 0.3s ease-in , opacity 0.3s;
}
.music-info h4{
    margin: 0px;
}
/* เมื่อมีการกดเล่น */
.music-container.play .music-info{
    transform: translateY(-100%);
    opacity: 1;
}
.progress-container{
    background-color: #fff;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}
.progress{
    background-color: red;
    width: 70%;
    height: 100%;
    border-radius: 5px;
    transition: width 0.1s linear;
}