@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
*{
    box-sizing: border-box ;
    font-family: "Noto Sans Thai", sans-serif;
}
body{
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    /* border: 1px solid red; */
    /* height: 700px; */
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    /* กรณี ข้อมูลเกิน container สร้าง เป็นร scroll bar ได้ด้วย overflow: auto*/
}
h2{
    margin:30px 0 10px;
}
.form{
    /* border: 1px solid rgb(0, 255, 85); */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%; 
    padding: 0 20px;
    margin: 0;
}
.form-control{ 
    margin-bottom: 20px;
    /* border: 1px solid red ; */
}
.password-box{
    position: relative;
}
.fa-solid{
    cursor: pointer;
    position: absolute;
    top:15px;
    right: 5px;
}
.fa-regular{
    cursor: pointer;
    position: absolute;
    top:15px;
    right: 5px;
}
.error-msg{
    /* ล็อกขนาดกล่องไว้ เมื่อไม่ตัวอักษรจะไม่เกิดปัญหา */
    font-size: 16px;
    min-height: 25px;
    color: red;
}
label{
    display: block;
    /* border: 1px solid red; */
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}
input{
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 5px;
}
input:focus{
    outline: none;
}

.registerBTN{
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: cornflowerblue;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.6s;
}
.registerBTN:hover{
    /* ย้ายแกน Y (แนวตั้ง) ติดลบคือขึ้นบน */
    transform: translateY(-10px);
    background-color: gold;
    color: black;
}

