@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
*{
    box-sizing: border-box ;
    font-family: "Noto Sans Thai", sans-serif;
}
body{
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    /* border: 1px solid red; */
    /* height: 700px; */
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    /* กรณี ข้อมูลเกิน container สร้าง เป็นร scroll bar ได้ด้วย overflow: auto*/
    overflow: hidden;
}
h2{
    margin:30px 0 10px;
}
.form{
    /* border: 1px solid rgb(0, 255, 85); */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%; 
    padding: 0 20px;
    margin: 0;
}
.form-control{ 
    padding: 5px;
    margin-bottom: 10px;
}
.form-control input{
    display: block; 
    border-radius: 4px;
    border:2px solid #f0f0f0;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 5px;
}
.password-box{
    position: relative;
}
.fa-solid{
    cursor: pointer;
    position: absolute;
    top:15px;
    right: 5px;
}
.fa-regular{
    cursor: pointer;
    position: absolute;
    top:15px;
    right: 5px;
    z-index: 10;
}
.error-msg{
    /* ล็อกขนาดกล่องไว้ เมื่อไม่ตัวอักษรจะไม่เกิดปัญหา */
    font-size: 16px;
    height: 30px;
    margin: 0; /* ล้าง margin ที่อาจแฝงมาจาก browser */
}
label{
    display: block;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}
/* input{
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 5px;
} */
input:focus{
    outline: none;
}

.registerBTN{
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: cornflowerblue;
    margin-bottom: 20px;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.6s;
    cursor: pointer;
}
.registerBTN:hover{
    /* ย้ายแกน Y (แนวตั้ง) ติดลบคือขึ้นบน */
    transform: translateY(-10px);
    background-color: gold;
    border: 2px solid gold;
    color: black;
}

/* validation */
/* ถ้าถูกต้อง ให้ขอบเป็นสีเขียว */
.form-control.success input {
    border-color: #2ecc71;
}

/* ถ้าผิด ให้ขอบเป็นสีแดง และโชว์ข้อความ */
.form-control.error input {
    border-color: #e74c3c;
}

.form-control .error-msg {
    color: rgb(250, 25, 0);
    font-size: 0.8rem;
    visibility: hidden; /* ปกติซ่อนไว้ */
}

.form-control.error .error-msg {
    visibility: visible; /* ถ้ามี error ค่อยโชว์ */
}

