html{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.calculator{
    background-color: white;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}
.calculator-display{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
}
.calculator-display h1{
    margin: 0;
    font-size: 45px;
    padding: 25px;
    font-weight: 100;
    /* กำหนดให้ตัวหนังสือไม่เกินขอบเขต */
    overflow-x: auto;
}
.calculator-button{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    padding: 10px;
}
.equal{
    grid-column: -2;
    /* ให้กินพื้นที่ แถว 2ไป 4 ส่วน */
    grid-row: 2/span 4;
}
button{
    min-height: 50px;
    font-size: 20px;
    font-size: 100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(199, 199, 199);
}
button:focus{
    outline: none;
}
button:hover{
    filter: brightness(110%);
}
button:active{
    transform: translateY(1px);
}
.operator{
    background-color: orange;
    color: white;
    font-size: 30px;
}

@media screen and (max-width:600px){
    .calculator{
        width: 95%;
    }
}