@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    /* ให้รวมขนาด margrin padding ในขนาดนั้นเลย */
    font-family: "K2D", sans-serif;
}
body{
    background-color: #fff;
    margin: 0px;
    
}
header{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/12/39/recording-studio-1869560_1280.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 100px;
}
button{
    cursor: pointer;
}
button:active{
    transform: scale(0.95);
}
input:focus,button:focus{
    outline: none;
}
form{
    position: relative;
    width: 500px;
    max-width: 100%;
}
form input{
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 30px;
    width: 100%;
}
form button{
    background-color: orange;
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    padding: 13px 30px;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
}
header::after{
    content: "";
    background-color:rgba(0, 0,0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
header *{
    z-index: 1;
}
header h1{
    margin: 0 0 30px;
}